<div class="user_panel">
  <ul>
    <li class="user_panel__point">
      <img src="/assets/point.svg" alt="point" />
      <p>Казань</p>
    </li>
    <li>
      <img src='/assets/money.svg' alt="money" />
      <span>1000</span>
    </li>
    <li>
      <!-- <a to="/user/promo" class="user_panel__link"> -->
        <img src='/assets/avatar.svg' alt="avatar" />
        <p>Алексей</p>
      <!-- </a> -->
    </li>
  </ul>
  <!-- <ul class="user_panel__button">
    <li>
      <button>Вход</button>
    </li>
  </ul> -->
</div>
