<div class="promo">
  <div class="promo__wrapper">
    <div class="promo__image">
      <img src='/assets/moneyCard.svg' alt="money" />
    </div>
    <div class="promo__info">
      <div class="promo__info__block">
        <label>Дата создания:</label>
        <p>25.09.2021</p>
      </div>
      <div class="promo__info__block">
        <label>Ссылка на товар:</label>
        <a href="https://www.adidas.com/clothes/WddfJfsf7dt6fsHFIuj5%D0%BFdfsZFu">
          https://www.adidas.com/clothes/WddfJfsf7dt6fsHFIuj5%D0%BFdfsZFu
        </a>
      </div>
    </div>
    <div class="promo__button">
      <button>Показать qr-код</button>
    </div>
  </div>
</div>
