<div class="main">
  <div class="main__wrapper">
    <div class="main__content">
      <app-slider></app-slider>
      <div class="main__cards">
        <app-main-card title='Пункты сбора' text='Посмотри, где в твоем городе можно сдать вторсырье на переработку'
          image='/assets/map.svg' link="/points/cardsId"></app-main-card>
        <app-main-card title='ЭкоМаркет'
          text='Используй заработанные экокоины для покупки товаровиз переработанных материалов '
          image='/assets/man.svg' link="/market">
        </app-main-card>
      </div>
    </div>
  </div>
</div>
